.App {
  max-width: 600px;
  margin: 30px auto;
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.App a {
  text-decoration: none;
}
